html{
    overflow-x:hidden;
}
header{
    width: 100%;
}
.herader{
    width: 60%;
    height: 97px;
    margin: 0 auto;
}
.active{
    border-bottom: 3px solid #34A9EE;
}
.left{
    float: left;
    margin-top: 30px;
}
.header_menu{
    width: 50%;
    margin: 0 auto;
    display: block;
}
.header_menu ul{
    width: 100%;
    text-align: center;
    line-height: 97px;
    font-size: 18px;
    font-family: "微软雅黑";
}
.header_menu li{
    float: left;
    width: 20%;
    cursor: pointer;
    height: 80px;
}
.right{
    float: right;
    margin-top: 40px;
    display: block;
}
.toggle{
    display: none;
}
/*------------------轮播图-----------------*/
.change_img{
    width: 100%;
    position: relative;
}
.change_img .big_box{
    width: 100%;
    height: 630px;
}
.change_img .big_box .small_box{
    width: 400%;
}
.change_img .big_box .small_box img{
    float: left;
    width: 25%;
    height: auto;
}
/*内容标题*/
.title{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
}
.title .slect{
    width: 100%;
    margin: 0 auto;
}
.title .slect p:nth-child(1){
    font-size: 46px;
    cursor: pointer;
}
.title .slect p:nth-child(1):hover{
    text-decoration: underline;
}
.title .slect p:nth-child(2){
    font-size: 24px;
    margin-top: 20px;
}
/*中心内容——图片*/
.content{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.content .img_all{
    width: 100%;
}
.content .img_all div{
    float: left;
    width: 20%;
    height: 800px;
    margin-left: 4%;
    margin-top: 5%;
    box-shadow:0px 0px 15px #ccc;
    cursor: pointer;
}
.content .img_all div:hover{
    box-shadow:0px 0px 15px #000;
}
.content .img_all img{
    width: 100%;
}
.more{
    width: 170px;
    height: 50px;
    background: #336FC0;
    margin: 0 auto;
    display: block;
    color:#fff;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*联合*/
.unite{
    width: 100%;
}
.unite img{
    width: 100%;
    height: auto;
}
.unite{
    display: block;
}
/*用户*/
.user{
    width: 100%;
    text-align: center;
    height: 767px;
}
.user_title{
    width: 30%;
    margin: 0 auto;
}
.user_title h1{
    margin-top: 8%;
    font-size: 46px;
    font-weight: normal;
}
.user_title p{
    font-size: 24px;
    margin-top: 25px;
}
.user .user_all{
    width: 80%;
    margin: 0 auto;
}
.user .user_all .user_le{
    width: 100%;
}
.user .user_all .userName{
    width: 31%;
    margin-left: 2%;
    margin-top: 5%;
    height: 160px;
    float: left;
    position: relative;
}
.user .user_all .userName .info_user{
    position: absolute;
    width: 10%;
    height: 30%;
    float: left;
}
.user .user_all .userName .info_user img{
    width: 100%;
    height: 100%;
}
.user .user_all .userName h3{
    display: block;
    width: auto;
    height: 30px;
    float: left;
    margin-left: 13%;
    margin-top: 2%;
    position: relative;
    cursor: pointer;
}
.user .user_all .userName h3:hover{
    color: #35A9EE;
}
.user .user_all .userName h3::after{
    content: "";
    width: 50px;
    height: 2px;
    background: #35A9EE;
    display: block;
    position: absolute;
    bottom: -3px;
}
.user .user_all .userName p{
    width: 50%;
    position: absolute;
    bottom: 20px;
    left: 10%;
    font-size: 14px;
    color:#666;
}
/*内容2 */
.content_two{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.content_two img{
    width: 100%;
}
/*底部*/
footer{
    width: 100%;
    height: 468px;
    background: #202122;
}
.footer{
    width: 80%;
    height: 468px;
    margin: 0 auto;
}
footer .footer div{
    float: left;
    width: 18%;
    height: 50%;
}
footer .footer div:nth-child(5){
    width: 28%;
}
footer .footer .ft_cnt_last li{
    float: left;
    margin-left: 10px;
}
footer .footer h4{
    color: #fff;
    margin-top: 45px;
    margin-left: 25px;
    position: relative;
}
footer .footer h4::after{
    content: "";
    width: 90%;
    height: 1px;
    background: #707070;
    display: block;
    position: absolute;
    bottom: -10px;
}
footer .footer ul{
    width: 100%;
    margin-top: 35px;
    margin-left: 25px;
}
footer .footer li{
    color: #676767;
    font-size: 12px;
    margin-top: 5px;
}
footer .footer .footer_txt{
    width: 50%;
    font-size: 12px;
    color: #676767;
    text-align: center;
    margin-left: 20%;
    position:relative;
}
footer .footer .footer_txt::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #727272;
    position: absolute;
    top: 120px;
    left: 0;
}
footer .footer .footer_txt p{
    line-height: 30px;
}